.authAction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1.5rem;
  width: 100%;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: 1rem;
  padding-left: 1rem;
  width: 100%;
}

.radioAction {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.375rem 0.75rem;
  border-radius: 0.5rem;
  font-size: 0.8125rem;
  cursor: pointer;
  transition: all 0.15s ease;
  color: var(--c-raw-050);
  border: 1px solid var(--c-raw-010);
  user-select: none;
  width: 100%;
  max-width: 400px;
}

.radioAction:hover {
  border-color: var(--c-raw-036);
}

.radioSelected {
  border-color: var(--c-raw-005);
  color: var(--c-raw-050);
}

.radioInput {
  accent-color: var(--c-raw-050);
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.licenseText {
  margin-top: 2rem;
  padding-left: 1rem;
  font-size: 0.8125rem;
  color: var(--c-raw-050);
}

.licenseText a {
  color: var(--c-raw-050);
  font-weight: 600;
  text-underline-offset: 4px;
}

.licenseText a:hover {
  color: var(--c-raw-036);
}

:global([data-component="chat-bubble"] a),
:global([data-component="chat-bubble"] a:visited) {
  color: var(--c-raw-050) !important;
}

:global([data-component="chat-bubble"] a[href^="#settings-"]),
:global([data-component="chat-bubble"] a[href^="#settings-"]:visited) {
  color: var(--c-raw-002) !important;
  font-weight: 700;
}

:global([data-component="chat-bubble"] a:hover) {
  color: var(--c-raw-036) !important;
}

:global([data-component="chat-bubble"] a[href^="#settings-"]:hover) {
  color: var(--c-raw-002) !important;
  text-decoration: underline;
}

:global([data-component="chat-bubble"] span[role="button"]) {
  color: var(--c-raw-002) !important;
  font-weight: 700;
  cursor: pointer;
}

:global([data-component="chat-bubble"] span[role="button"]:hover) {
  text-decoration: underline;
}
