# Copyright 2026 a7mddra
# SPDX-License-Identifier: Apache-2.0

# PaddleOCR standalone executable dependencies

paddlepaddle==2.6.2
paddleocr==2.10.0
opencv-python-headless
shapely
pyclipper
imgaug
lmdb
requests

pyinstaller
