.flowButton {
  padding: 0.4rem 1.25rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s ease;
  font-family: "Geist Sans", sans-serif;
}

.next {
  background-color: var(--c-raw-040);
  color: var(--c-raw-050);
}

.next:not(:disabled):hover {
  background-color: var(--c-raw-041);
}

.cancel {
  background-color: var(--c-raw-040);
  color: var(--c-raw-050);
}

.cancel:not(:disabled):hover {
  background-color: var(--c-raw-077);
}

.back {
  background-color: transparent;
  color: var(--c-raw-036);
}

.back:not(:disabled):hover {
  background-color: var(--c-raw-041);
  color: var(--c-raw-050);
}

.flowButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
